* {
  margin: 0px;
}

body {
  background-image: url(wallpaper3.jpg);
  background-size: cover;

  font-family: "EB Garamond", serif;
  font-weight: bold;
  color: #d1af94;
  font-size: 20px;
}

h1 {
  font-family: "Sacramento", cursive;
  color: #c69b7b;
  font-size: 100px;
  font-weight: 900;
}

h2 {
  font-family: "Sacramento", cursive;
  color: #c69b7b;
  font-size: 50px;
  font-weight: 900;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.flexbox-container {
  width: 95%;
 

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.flexbox-item-1 {
  margin-top: 50px;
  width: 350px;
  height: 400px;

  background-color: #252525;

  border-style: groove;
  border-width: 0px 5px 5px 0px;
  border-color: #7c4455;
  border-radius: 40px;

  transition: 500ms;

  gap: 40px;
  column-gap: 100px;
}

.flexbox-item-2 {
  margin-top: 50px;
  width: 400px;
  height: 600px;

  background-color: #252525;

  border-style: groove;
  border-width: 0px 5px 5px 0px;
  border-color: #7c4455;
  border-radius: 40px;

  transition: 500ms;

  gap: 40px;
  column-gap: 100px;
}

.flexbox-item-3 {
  flex-wrap: wrap;
  align-self: flex-end;
  margin-top: 50px;
  width: 900px;
  height: 350px;

  background-color: #252525;

  border-style: groove;
  border-width: 0px 5px 5px 0px;
  border-color: #7c4455;
  border-radius: 40px;

  transition: 500ms;

  gap: 40px;
  column-gap: 100px;
}

.flexbox-container :hover {
  transform: scale(1.05);
  transition: 600ms;
}

.links {
  display: block;
  text-align: center;
  color: #c69b7b;
}

.pic {
  display: block;
  text-align: center;

  margin-bottom: 10px;
}

.links:hover {
  color: #dd5b82;
}

.la {
  display: block;
  text-align: center;
  color: #c69b7b;
}

.la:hover {
  color: #dd5b82;
}

.bdo {
  display: block;
  text-align: center;
  color: #c69b7b;
}

.bdo:hover {
  color: #dd5b82;
}

.udemy {
  display: block;
  text-align: center;
  color: #c69b7b;
}

.udemy:hover {
  color: #dd5b82;
}
